@model KeyCord3.Models.Utilizador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserUt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserUt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoUt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoUt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAspNet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAspNet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
